* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* css de home */


#sub-titulo-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-family: Lato, sans-serif;

}

#sub-titulo-2 {
    position: absolute;
    top: 270px;
    font-size: 45px;
    font-family: Lato, sans-serif;
    color: #f3ebeb;
    padding: 30px 50px;
    box-shadow: 9px 12px 18px -1px rgb(0, 0, 0);
    background: rgba(32 32 32);
    text-shadow: 3px 3px 10px black;
}


#contenedor-fondo-2 {
    background-image: linear-gradient(rgba(5, 7, 12, 0.40), rgba(5, 7, 12, 0.40)), url(./imagenes/imagen_3.jpg);
    height: 120vh;
    background-position: center center;
    background-size: cover;
}

#contenedor-fondo-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}



.info_evento {
    width: 100%;
    height: 420px;
    font-family: Lato, sans-serif;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 50px;
    background-color: #f3ebebbe;
    text-shadow: 1px 1px 15px rgba (32 32 32);
    color: rgb(185 62 41);

}

article .info_evento {
    position: absolute;
    align-self: center;
    top: 455px;
    box-shadow: 5px 7px 23px -1px rgb(0, 0, 0);
}


#img-diseño-1 {
    position: absolute;
    top: 455px;
    right: 68px;
    width: 570px;
    height: 420px;
    z-index: 2;
    object-fit: cover;
    /*  box-shadow: 1px 3px 9px -1px rgb(0, 0, 0); */

}


#fecha {
    font-style: oblique;
    text-decoration: underline;
}

#evento {
    text-indent: 20px;
    font-size: 20px;
}



/* css de about */

#sub-titulo-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-family: Lato, sans-serif;

}

#sub-titulo-1 {
    position: absolute;
    top: 270px;
    font-size: 45px;
    font-family: Lato, sans-serif;
    color: #f3ebeb;
    padding: 30px 50px;
    box-shadow: 9px 12px 18px -1px rgb(0, 0, 0);
    background: rgba(32 32 32);
    text-shadow: 3px 3px 10px black;
}



#contenedor-fondo-1 {
    background-image: linear-gradient(rgba(5, 7, 12, 0.40), rgba(5, 7, 12, 0.40)), url(./imagenes/imagen_3.jpg);
    height: 900px;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.objetivos {
    width: 80%;
    font-size: 24px;
    font-family: Lato, sans-serif;
    margin-top: 200px;
    margin-bottom: 30px;
    text-shadow: 3px 3px 10px black;
    color: #f3ebeb;

}

#title-objetivos {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 10px;
    background: rgb(95, 161, 153);
    width: fit-content;
    padding: 10px 15px;
    box-shadow: 3px 3px 15px -1px rgb(0, 0, 0);

}

#descripcion {
    text-indent: 40px;
    padding-bottom: 30px;
    line-height: 35px;

}



/* style desde contact a game */
.encabezado {
    background-color: rgb(185 62 41);
    padding: 5px;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Lato, sans-serif;
}

#logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: flex;
    align-self: center;
    margin-left: 50px;
}

#barra-navegacion {
    background-color: rgb(95 161 153);
    border-top: 2px solid #f8e12e;
    border-bottom: 2px solid #f8e12e;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 50px;
    font-size: 22px;
    gap: 40px;
    font-family: Lato, sans-serif;

}

#navegacion {
    color: #f3ebeb;
    text-decoration: none;
    width: max-content;
    height: max-content;
    padding: 4px 7px;
    font-family: Lato, sans-serif;
    text-shadow: 3px 3px 10px black;
}

#navegacion:hover {
    color: rgb(185 62 41);
    transition-duration: .3s, .8s;
    transform: scale(1.08);

}

#titulo-general {
    font-family: Lato, sans-serif;
    margin: 20px;
    color: #f8e12e;
    text-shadow: 3px 3px 10px black;
}

/* css contact */

#contenedor-fondo-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

#contenedor-fondo-3 {
    background-image: linear-gradient(rgba(5, 7, 12, 0.40), rgba(5, 7, 12, 0.40)), url(./imagenes/imagen_3.jpg);
    height: 100vh;
    background-position: center center;
    background-size: cover;
}

#contenedor-fondo {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

#contenedor-fondo {
    background-image: linear-gradient(rgba(5, 7, 12, 0.40), rgba(5, 7, 12, 0.40)), url(./imagenes/imagen_3.jpg);
    height: 1300px;
    background-position: center center;
    background-size: cover;
}

#sub-titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-family: Lato, sans-serif;

}

#sub-titulo {
    margin-top: 610px;
    font-size: 45px;
    font-family: Lato, sans-serif;
    color: #f3ebeb;
    padding: 30px 50px;
    box-shadow: 9px 12px 18px -1px rgb(0, 0, 0);
    background: rgba(32 32 32);
    text-shadow: 3px 3px 10px black;
}


#info {
    position: absolute;
    font-size: 35px;
    color: #f8e12e;
    text-shadow: 3px 3px 10px black;
    top: 500px;
    font-family: Lato, sans-serif;
}

#email-de-contacto {
    color: antiquewhite;
    text-decoration: none;
    font-family: Lato, sans-serif;
}

#email-de-contacto:hover {
    color: rgb(185 62 41);
    transition-duration: .3s, .8s;
    transform: scale(1.08);
}

/* css rules */

.conteiner-centro {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

.conteiner-centro {
    background-image: linear-gradient(rgba(5, 7, 12, 0.40), rgba(5, 7, 12, 0.40)), url(./imagenes/imagen_3.jpg);
    height: 1300px;
    background-position: center center;
    background-size: cover;
    font-family: Lato, sans-serif;
}


ol,
ul,
dl {
    margin-left: 25px;
}

dt {
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Lato, sans-serif;
}

dd {
    font-size: large;
    font-family: Lato, sans-serif;
}


.orden-alfabetica {
    list-style: lower-alpha;
}

.unico {
    list-style-type: circle;
}

#sub-titulo2 {
    margin-top: 30px;
    font-size: 30px;
    font-family: Lato, sans-serif;
    color: #f3ebeb;
    padding: 30px 50px;
    box-shadow: 9px 12px 18px -1px rgb(0, 0, 0);
    background: rgb(32 32 32);
    text-shadow: 3px 3px 10px black
}

#consigna {
    color: #f8e12e;
    font-size: 25px;
    text-shadow: 3px 3px 10px black
}


.contenedor {
    background: rgb(209 206 206 / 92%);
    margin: 0px auto;
    max-width: 980px;
    min-height: 700px;
    padding: 25px;
    text-align: justify;
    font-family: Lato, sans-serif;
}

.reglas {
    font-size: 23px;
    margin: 25px;
    font-family: Lato, sans-serif;
}







/* css game info */


#main-game-info {
    height: 1800px;
}


table {
    width: 100%;
    border-collapse: collapse;
    border: 3px solid black;
    box-shadow: 9px 12px 18px -1px rgb(0, 0, 0);
    font-family: Lato, sans-serif;

}

th,
td {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    font-family: Lato, sans-serif;
    background-color: #e2e2e2da;
}

th {
    background-color: rgb(95 161 153 / 76%);
}

.ubicacion {
    display: flex;
    flex-direction: row;
    height: 500px;
    flex-wrap: wrap;
    justify-content: center;
}

/* mapas */
iframe {
    margin: 30px;
    box-shadow: 5px 7px 23px -1px rgb(0, 0, 0);
}

.info-adicional {
    background: #f8e12ed8;
    margin: 0px auto;
    padding: 25px;
    text-align: justify;
    font-size: 20px;
    text-shadow: 3px 3px 10px rgb(0, 0, 0);
    color: #f3ebeb;
    box-shadow: 5px 7px 23px -1px rgb(0, 0, 0);
    font-family: Lato, sans-serif;
}

#email-coordinador {
    color: antiquewhite;
    text-decoration: none;
    font-family: Lato, sans-serif;
}

#email-coordinador:hover {
    color: rgb(185 62 41);
    transition-duration: .3s, .8s;
    transform: scale(1.08);
}


/* /* css registration */

.conteiner-centro-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.conteiner-centro-6 {
    background-image: linear-gradient(rgba(5, 7, 12, 0.40), rgba(5, 7, 12, 0.40)), url(./imagenes/imagen_3.jpg);
    height: 1000px;
    background-position: center center;
    background-size: cover;
    font-family: Lato, sans-serif;
}


form {
    position: relative;
    width: 90%;
    border-radius: 6px;
    background-color: #f3ebebd0;
    padding: 30px;
    margin: 0 15px;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.78);
}

form .title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #333;
    text-shadow: 1px 1px 12px rgba(32 32 32);
}

.conteiner_form form {
    position: relative;
    margin-top: 30px;

}

.conteiner_form form .player-data {
    margin-top: 50px;
}

#data,
#school-zone,
#position,
#uniform-size,
#to-play {
    font-size: 20px;
    font-weight: 600;
    margin: 6px 0;
    color: #333;
    margin-left: 20px;
}

#closest {
    font-weight: 600;
    font-style: oblique;
}

.player-data,
.school {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px;
    border-radius: 5px;
    margin-top: 30px;
}

.position-play,
.uniform,
.permission {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 5px;
    border-radius: 5px;
    margin-top: 30px;
}

.position-play input {
    margin-left: 30px;
}

.position-play label {
    margin-left: 5px;
}

.permission p {
    line-height: 30px;
}


.uniform input {
    margin-left: 30px;
}

.uniform label {
    margin-left: 5px;
}

.permission input {
    margin-left: 10px;
    outline: none;
    border: 1px solid #aaa;
    padding: 0 5px;
    height: 30px;
    border-radius: 5px;
}

.permission label {
    margin-left: 65px;
    font-weight: 600;
    font-style: oblique;
}


.player-data>label {
    margin-right: 5px;
    font-size: 15px;
    font-style: oblique;
}

label#negrita {
    font-weight: 600;
}


.player-data input {
    outline: none;
    border: 1px solid #aaa;
    padding: 0 5px;
    height: 30px;
    border-radius: 5px;

}

#button {
    padding: 10px;
    width: 100px;
    align-self: center;
    cursor: pointer;
    margin-left: 200px;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.78);

}

/* footer general */

#footer-general {
    display: inline-block;
    background-color: rgb(185 62 41);
    width: 100%;
    height: 100px;
    border-top: 2px solid #f8e12e;
}

#texto-footer {
    color: #f8e12e;
    text-shadow: 3px 3px 10px black;
    text-align: center;
    margin-top: 45px;
    font-size: 20px;
    font-weight: bolder;
    font-family: Lato, sans-serif;
    
}


/* responsive */


@media only screen and (min-width: 320px) and (max-width: 767px) {


    .encabezado {
        height: 70px;
    }

    #logo {
        height: 50px;
        width: 50px;
    }

    #titulo-general {
        font-size: medium;
        text-align: initial ;
    }

    #barra-navegacion {
        height: 30px;
        gap: 0;
        flex-wrap: nowrap;

    }

    #navegacion {
        font-size: 8px;
        align-self: center;
        padding: 5px;

    }
/* revisar */
    #contenedor-fondo-2 {
        height: 70vh;
        width: 100vw;
    }

    #sub-titulo-2 {
        font-size:12px;
        padding: 10px 20px;
        position: absolute;
        top: 127px;
    }

    article .info_evento {
        position: absolute;
        top: 193px;
    }

    article .info_evento {
        height: 245px;
        width: 95vw;
        padding: 10px;
    }

    #evento {
        font-size: small;
    }

    #fecha {
        font-size: small;
    }
    
    #img-diseño-1 {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        top: 196px;
        right: 15px;
        box-shadow: 1px 2px 9px -1px rgb(0 0 0)
    }

    #footer-general {
        height: 70px;
    }

    #texto-footer {
        font-size: x-small;
        margin-top: 28px;
    }
}